



/* =================================
  Base Styles
==================================== */
* {
box-sizing:border-box;
}

body{
  font-family:'Roboto', sans-serif;
  line-height: 1.6;

}

a{
    color:#00aced;
    text-decoration:none;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em
}

h1 a {
margin:0;
color:#ffffff;
}

h3 {
font-size:17px;
}




/* =================================
  Base Layout Styles
==================================== */

/** Layout Containers**/
.website-links {
  padding:0px ;
  list-style: none;
}

li a{
list-style:none;
color:#ffffff;
}

.images{
  padding:0.5em;
  border:solid 2px lightgrey;
  width:90%;
  display:block;
  margin:0 auto;

}

.student-name,
.website-links li{
  text-align:center;

}

.wrap{
  min-height: calc(100vh - 57.6px);

}

.container{
  padding-left:1em;
  padding-right:1em;
}

.main-nav{
  background:#0f2c41;
  padding: 1em 0;
}


.main-footer{
  background:#0f2c41;
  text-align:center;
  padding-left:1em;
  padding-right:1em;

}

.main-footer{
  padding-top:1em;
  padding-bottom:1em;
    color:#dc1d49;
    margin-top:25px;
}

.student-name a,
.website-links a{
  padding:10px 15px;
  display:block;
}

.container h2, h3
{
  color:#dc1d49;
text-align:center;
}

.text{
    border-bottom:solid 2px lightgrey;
}

.text a {
  color:#5fcf80;
}

.text a:hover{
  transition:0.5s ease;
  color:#dc1d49;
}

.portfolio-images img{
display:block;
  width:90%;
  margin:0 auto;
  padding:0.5em;
  border:solid 1px lightgrey;
}

.findoutmore a{
  display:block;
  color:#0f2c41;
  text-align:center;
  padding-top:1em;
  padding-bottom:1em;
}

.findoutmore a:hover{

  transition:0.5s ease;
  color:#dc1d49;
}


.main-footer{
  visibility: hidden;
  display:none;
}

/** mobile footer**/

.mobile-footer h1{
  display:inline;
  float:left;
  font-size:16px;
  margin:0px;
  color:#fff;
}

.mobile-student-name{
  display:inline;
  float:left;
}

.list-back-to-the-top{
  display:inline;
}

.list-back-to-the-top li{
  float:right;
  display:inline;
}

#contact {
  text-align:center;
}


#techdegree {
  text-align:center;
}

  /* =================================
    Media Query - Tablet
  ==================================== */
  @media (min-width:768px){

.text{
  border-style: none;
}

.techdegree{
  margin-top:1em;
  padding-top:2em;
  border-top:solid 2px lightgrey;
  width:100%;
  text-align: center;
}


.portfolio-images img{
    display:block;
      width:100%;
      margin:0 auto;
      padding:0.5em;

    }


.images{
  width:300px;
  float:right;
  margin-left:15px;
}

.myportfolio h2{
  text-align:left;
  float:left;
  display:contents;
}

.text h2{
  text-align:left;
  float:left;
  display:contents;
}

.myportfolio{
padding-top:3em;
padding-bottom:1em;
margin-bottom:1em;
}

  .container{
      width:85%;
      margin:0 auto;
    }

  .website-links{
      text-align:center;
    }

    .website-links li  {
      display:inline-block;
    }

/**2 column layout**/
.col{
  float:left;
}



.col{
  padding-right:0.5em;
  padding-left:0.5em;
}


h3{
  height:50px;
}


.clearfix::after{
  content:" ";
  display:table;
  clear:both;
}

.website-links li a:hover{
  transform: scale(1.1);
  transition: all .4s ease-in-out;
  color:#dc1d49;

}

.myportfoliocontainer{
display:flex;
flex-wrap: wrap;
width:100%;
}

.portfolio-units{
  width:50%;
}



.main-footer{
  visibility: visible;
  display:flex
}

.mobile-footer{
  visibility: hidden;
  display:none;

}

.main-footer h1{
  display:inline;
  float:left;
  font-size:20px;
}



.nav-footer{
  width:90%;
}

.footer-website-links{
  float:right;
}

  }
  /* =================================
    Media Query - Desktop
  ==================================== */

  @media (min-width:1024px){


  .container{
        width:70%;
        margin:0 auto;
        max-width:1200px;
      }


.student-name,
.website-links,
.website-links li{
  display:block;
    }

.nav-desktop{
  width:85%;
}

.website-links{
  float:right;
}

.website-links li{
  float:left;
  margin-right:10px;
  transition:0.5s ease;
  height:10px;
}

.website-links li a:hover{
  transform: scale(1.1);
  transition: all .4s ease-in-out;
  color:#dc1d49;

}



.student-name{
  float:left;
  margin:0;
}

.portfolio-units{
  width:33.3333%;
}

.nav-footer{
  width:85%;
}
.footer-website-links{
  margin:0;
}


}
